.app-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
          'h h'
          'n c';
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background-color: black;
}

.header img {
    padding: 5px 0 0 5px;
    display: flex;
    width: 40px;
}

.nav {
    color: white;
    text-align: left;
    letter-spacing: 3px;
    padding: 50px 0 0 10px;
    grid-area: n;
    background-color: #131313;
}

.nav__link {
    margin-bottom: 15px;
}

.content {
    grid-area: c;
    background-color: aliceblue;
}
.avatar {
    max-width: 10%;
}
.content img {
    width: 1080px;
}

